	p{

	text-align:center;
	color:white; 
	font-family:Copperplate Gothic;

	}

	h1{

	text-align:center;
	color:white; 
	font-family:Copperplate Gothic;

	}

	h3{

	text-align:center;
	color:white; 
	font-family:Copperplate Gothic;

	}

	a{

	color:white;
	text-decoration:none;

	}

	#missão {

		color:black
	}

	.itens {
	texto-align:"center";
	font-style:"italic;";
	}