	h1{
  font-size: 250%;
	text-align:center;
	color:white; 
	font-family:Copperplate Gothic;
	}

	h3{
  font-size: 200%;
	text-align:center;
	color:white; 
	font-family:Copperplate Gothic;
	}

	p{
  font-size: 200%;
	text-align:center;
	color:white; 
	font-family:Copperplate Gothic;
	}

	#imagem {
	width: 22.4%;
	background: transparent;
    padding: 20px;
	}

	.paragrafo {
    font-size: 200%;
	display: inline-block;
    vertical-align: top;
    width: 65%;
    margin-right: 0%;
    text-align: justify;
	font-family:Copperplate Gothic;
	}


	a{
  font-size: 200%;
	color:white;
	text-decoration:none;
	font-family:Copperplate Gothic;
	}

	#missão {
		color:black
	}


	ul {
    font-size: 200%;
		vertical-align:top; 
		text-align:right;
		font-family:Copperplate Gothic;
	}

	.itens {
  font-size: 100%;
	color:white;	
	text-align:center;
	list-style:none;
	font-family:Copperplate Gothic;
	}
